.right{
    grid-area: right;
}
.right__card{
    padding: 10px;
    background-color: white;
    border-radius: 10px;
    border: 0.5px solid rgb(209, 209, 209);
}
.right__card__title{
    display: flex;
    justify-content: space-between;
}
.right__card>ul{
    list-style-type:circle
}

li{
    color: rgb(68, 64, 64);
    padding: 5px 8px;
    font-size: 15px;
    font-weight: bolder;
    cursor: pointer;
}
li:hover{
    background-color: rgb(236, 236, 236);
}
p{
    font-size: 12px;
    font-weight: 100;
    color: gray;
}
@media(min-width:1072px){
    .right__card{
        max-width: 300px;
    }
}